<!DOCTYPE html>
<html lang="<!--@@var = lang-->">
<head>
    <meta charset="UTF-8">
    <title>EOSYS</title>

    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="<!--@@var= description-->">

    <!-- 사이트 완성될때까지만.. -->
    <meta name="robots" content="noindex">
    

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="EOSYS">
    <meta property="og:description" content="<!--@@var= description-->">
    <meta property="og:image" content="http://eosys.io/image/bnr_eosys.png">
    <meta property="og:url" content="http://eosys.io">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="http://eosys.io">
    <meta name="twitter:title" content="EOSYS">
    <meta name="twitter:description" content="<!--@@var= description-->">
    <meta name="twitter:image" content="http://eosys.io/image/bnr_eosys.png">

    <!-- !!!! 매니페스토의 이오시스 이미지 링크해야됨! -->
    <link rel="manifest" href="site.webmanifest">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

    <link rel="stylesheet" href="css/style.css">

    <!-- as-is :: mailchimp style embed -->
    <!-- 클라이언트 네트웍 비용 절감 차원에서 sass converting 할때 직접 가져오도록 변경함 -->

    <!-- jquery cdn -->
    <script src="js/jquery.min.js"></script>
    <script src="js/js.js"></script>
</head>
<body>

    <!-- skip navigation -->
    <div class="skip_nav">
        <a href="#content">본문 바로가기</a>
	</div>

    <header id="header">
        <h1><a href="#summary">eosys.io</a></h1>

        <nav>
            <div class="main link">
                <a href="#about">about</a>
                <a href="#project">projects</a>
                <a href="#news">news</a>
                <!-- <a href="#videography">Meetup</a> -->
                <a href="#team">team</a>
                <a href="#subscribe">subscribe</a>
            </div>

            <div class="sub link">
                <a href="index-ko.html" class="lang ko">한글</a>
                <a href="index-en.html" class="lang en">Eng</a>
                <ul>
                    <li><a href="https://medium.com/@eosys" title="Medium blog" class="icon ci medium button">Medium</a></li>
                    <!-- <li><a href="https://steemit.com/@eosys">Steemit</a></li> -->
                    <!--@@placeholder = telegram-->
                    <li><a href="https://twitter.com/@eosys_io" title="EOSYS Twitter" class="icon ci twitter button" target="_blank">Twitter</a></li>
                </ul>
            </div>
        </nav>

        <a href="#subscribe" aria-hidden="true">subscribe</a>
    </header>


    <article id="content">

        <section id="summary" class="summary">
            <div class="container">
            <!--@@placeholder = summary-->
            </div>

            <!-- !!!! 이게 있는게 좋을지 없는게 좋을지 모르곘다. -->
            <!-- <button type="button" class="bg_icon extra scroll button">Scroll</button> -->
        </section>

        <section id="about" class="about">
            <div class="container">
            <!-- @@placeholder = about -->
            </div>
        </section>

        <section id="project" class="project">
            <div class="container">
            <!-- @@placeholder = project -->
            </div>
        </section>

        <section class="consortium">
            <div class="container">
            <!-- @@placeholder = consortium -->
            </div>
        </section>

        <section id="news" class="news">
            <div class="container">
            <!-- @@placeholder = news -->
            </div>
        </section>

        <section class="banner">
            <div class="container">
            <!-- @@placeholder = banner -->
            </div>
        </section>

        <section id="team" class="team">
            <div class="container">
            <!-- @@placeholder = team -->
            </div>
        </section>

    </article>

    <footer id="footer" class="footer">
        <div class="container">
        <!-- @@placeholder = footer -->
        </div>
    </footer>

    <div id="popup" class="popup">
        <div class="wrapper">
            <h2>TEAM</h2>
            <div class="scroll_section">
                <div id="popupContainer" class="container">
                </div>
            </div>
            <button type="button" id="popupClose" title="close" class="icon black_transparent close button">닫기</button>
        </div>
    </div>
</body>
</html>

